<!--modal header -->
<div class="modal-header">
  <h3 class="modal-title">Select Location</h3>
</div>

<!--modal body -->
<div class="modal-body" stop-event="touchend">
  <h3>Name</h3>

  <!-- ng-options has the data stored in locations and we loop through it setting each item to location and looking for the name on each item. ng-modal is two way -->
  <!-- the select dialog box automatically sets the name as the selectedLocation ng-model -->
  <select ng-show="isLoaded"
          ng-model="selectedLocation"
          ng-options="location.name for location in locations"></select>
</div>

<!--modal footer -->
<div class="modal-footer">
  <button type="button" class="btn btn-primary" ng-click="saveSettings()">Ok</button>
  <!-- $dismiss is a function through $Modal that cancels the dialog -->
  <button type="button" class="btn btn-default" ng-click="$dismiss()">Cancel</button>
</div>
