  <!-- special click function set on the li to open and close the ul -->
  <li class="wwGroup-item" ng-click="clicked()">
    <div class="wwlist-item wwlist-group">
      <i class="fa {{icon}}" ></i>
      {{label}}
      <!-- rotate icon based on variable set in the directive if its open or not -->
      <i class="fa fa-chevron-left ww-group-arrow-left" ng-class="{'fa-rotate-270': isOpen}"></i>
    </div>
  </li>
  <!-- show if variable is true -->
  <!-- recursion will work because the div is not in the ul -->
  <!-- Animation will know about the ng-Show on this element and pick up on it, so we just need to add the correct classes -->
  <!-- So the class ww-fade-in-animation will get added and removed when ng-show is true or false -->
  <div class="has-children ww-fade-in-animation" ng-show="isOpen" ng-class="{'active': isOpen}">
    <ul ng-transclude></ul>
  </div>
