  <!-- special click function set on the li to open and close the ul -->
  <li class="wwGroup-item" ng-click="clicked()">
    <div class="wwlist-item wwlist-group">
      <i class="fa {{icon}}" ></i>
      {{label}}
      <!-- rotate icon based on variable set in the directive if its open or not -->
      <i class="fa fa-chevron-left ww-group-arrow-left" ng-class="{'fa-rotate-270': isOpen}"></i>
    </div>
  </li>
  <!-- show if variable is true -->
  <!-- recursion will work because the div is not in the ul -->
  <div class="has-children" ng-show="isOpen" ng-transclude></div>
