<div class="ww-title-bar">
  <div class="row">
    <div class="ww-logo-area col-sm-6">
      <img class="ww-icon" ng-src="{{ iconFile }}" alt=""/>
      <div class="ww-title-wrapper">
        <p class="ww-logo-title">{{ title }}</p>
        <p class="ww-logo-subtitle">{{ subtitle }}</p>
      </div>

      <div class="wwMenu-collapsed pull-right" ng-if="isMenuButtonVisible" ng-click="menuButtonClicked()">
        <button class="btn wwMenu-nav-btn">
          <i class="fa fa-bars"></i>
        </button>
      </div>
    </div>
    <div class="ww-right-ctrls col-sm-6">
      <div>
        <button class="btn btn-primary">Button 1</button>
        <button class="btn btn-success">Button 2</button>
        <button class="btn btn-warning">Button 3</button>
      </div>
    </div>
  </div>
</div>

<!-- allow for transclusion -->
<div ng-transclude></div>

<div style="position: absolute; left:200px; top:200px; color:red; font-size: 44px;">
  {{routeString}}
</div>
