<div class="ww-title-bar">
  <div class="row">
    <div class="ww-logo-area col-sm-6">
      <img class="ww-icon" ng-src="{{ iconFile }}" alt=""/>
      <div class="ww-title-wrapper">
        <p class="ww-logo-title">{{ title }}</p>
        <p class="ww-logo-subtitle">{{ subtitle }}</p>
      </div>

      <div class="wwMenu-collapsed pull-right" ng-if="isMenuButtonVisible" ng-click="menuButtonClicked()">
        <button class="btn wwMenu-nav-btn">
          <i class="fa fa-bars"></i>
        </button>
      </div>
    </div>
    <div class="ww-right-ctrls col-sm-6">
      <div>
        <ww-user-profile-small></ww-user-profile-small>
      </div>
    </div>
  </div>
</div>

<!-- show menu if vertical variable is true, switch if false, show on isMenuVisible variable -->
<div class="wwMenu-wrapper vertical"
     ng-class="
      {
        'vertical': isMenuVertical,
        'horizontal': !isMenuVertical

      }"
     ng-show="isMenuVisible">
  <ww-user-profile></ww-user-profile>

  <!-- allow for transclusion -->
  <ng-transclude></ng-transclude>
</div>


<!-- Super handy to have the vaibales available to us on scope here -->
<div ui-view class="main-content" ng-class="{'menu-full-width': !isMenuVertical || !isMenuVisible }">

</div>
