$font-url--openSans:'https://fonts.googleapis.com/css?family=Open+Sans:400,600,700,300';
$openSans: 'Ubuntu', sans-serif;

$base__font-size: 16px;
$base__line: 24px;

//SCREEN SIZES
$desktop:                 1200px !default;
$laptop:                  992px !default;
$tablet:                  768px !default;
$mobile:                  480px !default;
