
<div class="wwa-inventory-widget">

  <div class="ww-widget-header wwa-inventory-heading">
    <img class="wwa-inventory-icon" ng-src="assets/images/inventory-icon.png" alt="inventory" />
    <span class="www-inventory-title">Inventory</span>
    <div class="ww-widget-header-btns">
      <button class="btn btn-default pull-right" ng-click="close()">
        <i class="fa fa-remove"></i>
      </button>
      <button class="btn btn-default pull-right" ng-click="settings()">
        <i class="fa fa-gear"></i>
      </button>
    </div>
  </div>

  <div class="wwa-inventory-body" style="background-image: url(/assets/images/{{selectedLocation.image}});">
    <div class="widget-loader" ng-if="!isLoaded"><i class="fa fa-refresh fa-2x fa-spin"></i></div>
    <div class="wwa-inventory-area" ng-if="isLoaded">

      <div class="wwa-inventory-river-name">
        {{ selectedLocation.name }}
      </div>

      <div class="wwa-inventory-item">
        <img src="assets/images/guide-icon.png" />
        <span class="wwa-inventory-amount">{{selectedLocation.guides}}</span>
        <span class="wwa-inventory-caption">GUIDES</span>
      </div>
      <div class="wwa-inventory-item">
        <img src="assets/images/vest-icon.png" />
        <span class="wwa-inventory-amount">{{selectedLocation.vests}}</span>
        <span class="wwa-inventory-caption">VESTS</span>
      </div>
      <div class="wwa-inventory-item">
        <img src="assets/images/raft-icon.png" />
        <span class="wwa-inventory-amount">{{selectedLocation.rafts}}</span>
        <span class="wwa-inventory-caption">RAFTS</span>
      </div>
    </div>

  </div>

</div>


