wwa-dashboard{
  position: relative;
  height:165px;
  width: 100%;
  display: block;
}
ww-dashboard{
  margin:0;
  width:100%;
}
.gridster{
  .gridster-item{
    box-shadow: 0 0 5px rgba(0,0,0, 0.3);
    background:#fff;
  }
}
