
.wwMenu-wrapper {
  position: relative;
  background-color: #333;
  color: #ccc;
  padding-left: 0;
  width: 200px;
  min-height: 100vh;
  padding-top: 30px;
}

.wwMenu-wrapper .btn:hover {
  color: #ccc;
}

.wwMenu-wrapper {
  list-style-type: none;
  vertical-align: top;
  ul {
    display: inline;
    list-style-type: none;
    padding-left: 0;
  }
  li {
    line-height: 3em;
    cursor: pointer;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;

    &:hover {
      background-color: #555;
    }
  }
  .wwlist-item{
    display: inline-block;
    width:90%;
    padding-left:16px;
  }
  & > i{
    margin-right:10px;
  }
}

.wwMenu-active-item{
  float:right;
  color:#ddd;
  margin-right:0;
  margin-top:8px;
}

.wwMenu-collapsed{
  display: inline-block;
  height:100%;
}

.wwMenu-nav-btn{
  height:40px;
  width:40px;
  margin-top:10px;
  border:1px solid #888;
  padding:0;
  font-size: 26px;
  color:#777;
}


